/* Table */
.table.rounded tbody tr:last-child {
	border-radius: 0 0 .5rem .5rem;
}
.table-primary,
.table-primary > td,
.table-primary > th {
	color: #fff;
	background-color: #577ea5;
	border-color: #dee2e6;
}
@media (max-width: 991px) {
	.table-responsive tbody tr > *:first-child {
		width: initial;
	}
}

/* Embed */
@media (max-width: 767px) {
	.embed iframe {
		width: 100%;
	}
}

/* Radio */
.form-check-input.position-relative {
	margin-top: 3px;
}
@media (min-width: 768px) {
	.flex-wrap .form-check {
		flex: 0 0 50%;
	}
}
