/* Sidebar */
@media (min-width: 1200px) {
	.menubar {
		width: 250px;
	}
	.content {
		width: calc(100% - 250px);
	}
}

/* Table */
.table.rounded tbody tr:last-child {
	border-radius: 0 0 .5rem .5rem;
}
.table-primary,
.table-primary > td,
.table-primary > th {
	color: #fff;
	background-color: #577ea5;
	border-color: #dee2e6;
}
.table .valign-top th,
.table .valign-top td {
	vertical-align: top;
}
@media (max-width: 991px) {
	.table-responsive tbody tr > *:first-child {
		width: initial;
	}
}

/* Embed */
@media (max-width: 767px) {
	.embed iframe {
		width: 100%;
	}
}

/* Image */
.object-fit-cover {
	object-fit: cover;
}

/* Radio */
.form-check-input.position-relative {
	margin-top: 3px;
}
@media (min-width: 768px) {
	.flex-wrap .form-check {
		flex: 0 0 50%;
	}
}

/* Countdown */
.countdown {
	position: fixed;
	top: 4.5rem;
	right: .75rem;
	padding: .45rem .75rem;
	border-radius: .3rem;
	text-align: center;
	font-size: 14px;
	width: 90px;
	color: #fff;
	background-color: #577ea5;
	z-index: 1;
}
@media (min-width: 768px) {
	.countdown {
		top: 5.5rem;
		right: 1.25rem;
	}
}
